.jobs-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

/* .jobs-center-element {
    width: 100px;
    flex-grow: 1;
} */