.containerLanguage {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sectionLanguage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sectionTitle {
    margin: 0;
    font-weight: bold;
  }
  
  .sectionTitle2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sectionText {
    margin: 0;
  }
  
  .sectionIcon {
    cursor: pointer;
  }
  