.FooterGrassseto {
  font-weight: bold;
}
.bingo {
  background-color: #f4f2ee;
}

.signatureLogo img {
  width: 100px;
}

.mini-footer a {
  font-weight: 500;
  color: darkgrey;
  text-decoration: none;
}

a:hover {
  color: black;
  cursor: pointer;
}
.miniFooterDropdown {
  font-weight: 500 !important;
  color: darkgrey;
}
