.FooterGrassseto {
  font-weight: bold;
}
.bingo {
  background-color: #f4f2ee;
}

.signatureLogo img {
  width: 100px;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.miniFooterDropdown {
  font-weight: 500 !important;
}
