.jobs-sidebar ul {
    list-style: none;
    padding-left: 0;
}
figure {
    padding: 1rem;
}

.jobs-sidebar li {
    padding: 8px 8px 8px 0;
}

.jobs-sidebar a {
    text-decoration: none;
}

.jobs-sidebar {
    min-width: 300px;
    max-width: 300px;
}

@media screen and (max-width: 1300px) {
    .left-sidebar {
        display: none;
    }
    
}