.navbar-left {
    display: flex;
    align-items: center;
}

.navlink-item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.fotoTondeProf {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    top: 10px;
}

.LinkModale {
    text-decoration: none;
    color: black;
}