.hero-info {
    display: flex;
    justify-content: space-between;
}

.banner {
    max-height: 200px;
    width: 800px;
    object-fit: cover;
}

.propic {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.propic-absolute {
    position: absolute;
    bottom: -20px;
    left: 0;
}

.profile-container {
    position: relative;
    max-width: 800px;
    max-height: 200px;
}

.upload-icon {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 85, 177);
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.white-button {
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: white;
    color: gray;
    padding: 0 12px;
}


.fullcolor-button {
    background-color: #0B5ED7;
    border-radius: 1rem;
    color: white;
}
